@model IEnumerable<KProj.Models.Classes.Cours>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="container" style="margin-top: 94px;">


    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table  table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameOfCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfCourse)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeCourse)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="row_@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfCourse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfCourse)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Trainer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeCourse)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                    @Html.ActionLink("Add", "AddVideo", "AdminAddVideos", new { courseid = item.Id }, new { @class="" } ) |


                    <button onclick="ConfirmDelete(@item.Id)" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                        Delete
                    </button>

                </td>
            </tr>
        }

    </table>
</div>



<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header">

                <h3 class="modal-title"> Delete   </h3>
            </div>

            <div class="modal-body">
                <h4>Are you sure ? You want to delete this. </h4>
            </div>

            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteEmployee()">Confirm</a>
            </div>

        </div>

    </div>

</div>
<input type="hidden" id="hiddenEmployeeId" />


<script src="~/Content/Assets/Js/jquery-3.3.1.js"></script>
<script type="text/javascript">
 
        function ConfirmDelete(EmployeeId) {
            if (EmployeeId != null) {
                $("#hiddenEmployeeId").val(EmployeeId);
                $("#myModal").modal('show');
            }
        }

        function DeleteEmployee() {

            var empId = $("#hiddenEmployeeId").val();
            if (empId != null) {
                $.ajax({

                    type: "POST",
                    url: "/AdminCourses/Delete",
                    data: { EmployeeId: empId },
                    success: function (result) {
                        $("#loaderDiv").hide();
                        $("#myModal").modal("hide");
                        $("#row_" + empId).remove();
                    
                    }

                })
            }


        }

</script>

